* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 18px;
}

button {
    padding: 8px 32px;
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    cursor: pointer;
}

h1.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
}

h1.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    gap: 90px;
    padding: 16px 180px 100px 180px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0px 65px 0px;
    gap: 45px;
}

.info {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.img-subtext {
    width: 150px;
}

.img {
    height: 150px;
    width: 150px;
    border: 2px #3882F6 solid;
    border-radius: 8px;
}

.subtext {
    margin-top: 8px;
}

.nav-bar {
    display: flex;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    gap: 32px;
}

.intro .title,
.intro .subtitle {
    margin-bottom: 8px;
}